@use "headings";

body {
  color: var(--color-stone-600);
  background-color: var(--color-stone-100);

  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-body);
  
  line-height: var(--line-height-body);
}

.card {
  --multiplier-radius: calc(var(--radius-card) / var(--viewport-range));
  --multiplier-margin: calc(var(--spacing-8) / var(--viewport-range));

  --card-radius: clamp(0rem, calc(var(--availability) * var(--multiplier-radius)), var(--radius-card));
  --card-margin: clamp(0rem, calc(var(--availability) * var(--multiplier-margin)), var(--spacing-8));

  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: var(--width-card-desktop);
  width: 100%;

  margin: var(--card-margin) auto;

  border-radius: var(--card-radius);
  background-color: var(--color-white);

  .hero-image {
    --multiplier-radius: calc(var(--radius-hero) / var(--viewport-range));
    --multiplier-margin: calc(var(--spacing-8) / var(--viewport-range));

    --hero-inline-space: clamp(0rem, calc(var(--availability) * var(--multiplier-margin)), var(--spacing-8));
    --hero-radius: clamp(0rem, calc(var(--availability) * var(--multiplier-radius)), var(--radius-hero));

    margin-inline: var(--hero-inline-space);
    margin-block-start: var(--hero-inline-space);
    margin-block-end: var(--spacing-8);

    border-radius: var(--hero-radius);

    @media (min-width: 46rem) {
      max-width: var(--width-hero-desktop);
    }
  }

  .recipe-body {
    padding: 0 var(--spacing-8) var(--spacing-8);
  }
}

hr {
  border-top: 1px solid var(--color-stone-100);
  margin-block: var(--spacing-5);
  width: 100%;
}

.preparation {
  background-color: var(--color-rose-50);
  border-radius: var(--radius-hero);
  padding: var(--spacing-5);
  margin: var(--spacing-5) 0;

  .preparation-title {
    color: var(--color-rose-800);
    margin-block-end: var(--spacing-3);
  }
}
