@use "mixins";

.card {
  @include mixins.fluid-custom-prop("card-radius", "--radius-card", "--available-1", "--stepdown-1");
  @include mixins.fluid-custom-prop("card-margin", "--spacing-8", "--available-1", "--stepdown-1");

  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: var(--width-card-desktop);
  width: 100%;

  margin: var(--card-margin) auto;

  border-radius: var(--card-radius);
  background-color: var(--color-white);

  .hero-image {
    @include mixins.fluid-custom-prop("hero-inline-space", "--spacing-8", "--available-1", "--stepdown-1");
    @include mixins.fluid-custom-prop("hero-radius", "--radius-hero", "--available-1", "--stepdown-1");

    margin-inline: var(--hero-inline-space);
    margin-block-start: var(--hero-inline-space);
    margin-block-end: var(--spacing-8);

    border-radius: var(--hero-radius);
  }

  .recipe-body {
    padding: 0 var(--spacing-8) var(--spacing-8);

    hr {
      border-top: 1px solid var(--color-stone-100);
      margin-block: var(--spacing-5);
      width: 100%;
    }
  }
}
