.preparation-list li {
  position: relative;
  padding-inline-start: calc(var(--bullet-inline-offset) + var(--bullet-top-offset) + var(--spacing-3));

  & + li {
    margin-block-start: var(--spacing-1);
  }
}

.preparation-list li::before {
  content: "";
  position: absolute;
  inset-inline-start: var(--bullet-inline-offset);
  top: var(--bullet-top-offset);
  width: var(--width-bullet);
  height: var(--width-bullet);
  border-radius: 50%;
  background-color: currentColor;
  transform: translateY(-50%);
}