@use "functions";

body {
  color: var(--color-stone-600);
  background-color: var(--color-stone-100);

  font-family: "Outfit", sans-serif;
  font-size: functions.fluid-between(
    "--font-size-body-mob",
    "--font-size-body",
    "--available-2",
    "--stepdown-2"
  );
  font-weight: var(--font-weight-regular);
  
  line-height: var(--line-height-body);
}

.preparation {
  background-color: var(--color-rose-50);
  border-radius: var(--radius-hero);
  padding: var(--spacing-5);
  margin: var(--spacing-5) 0;

  .preparation-title {
    color: var(--color-rose-800);
    margin-block-end: var(--spacing-3);
  }
}
