.nutrition-table {
  min-width: 100%;
  margin-block-start: var(--spacing-5);

  border-collapse: collapse; // remove gap between columns.

  td {
    width: 50%;
    padding-block: var(--spacing-2);

    // Correct color for the entries in the 2nd column.
    strong {
      color: var(--color-brown-800);
    }

    // Indent the entries in the first column of the table.
    &:first-child {
      padding-inline-start: var(--spacing-7);
    }
  }

  // Add a border line between the rows
  tr + tr td {
    border-top: 1px var(--color-stone-100) solid;
  }
}